h2 {
  margin: 30px 0;
  text-align: center;
  font-family: "DM Sans";
}
.content-contact {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  color: #184794;
  background-color: #ddd8b8;
  width: 20%;
  height: 20vh;
  margin-top: 30px;
  font-size: 0.8rem;
  margin-bottom: 50px;
}

.contact-block span:first-child {
  padding-bottom: 5px;
}
