<header>
  <nav>
    <ul class="lista-nav">
      <a href="#sobre"> <li>Sobre</li> </a>
      <a href="#portfolio"> <li>Portfolio</li> </a>
      <a href="#contato"> <li>Contato</li> </a>
    </ul>
  </nav>
  <div class="icons">
    <a href="https://www.linkedin.com/in/jose-ricardo-silva-082837191/" target="_blank">
      <img id="linkedin-icon" src="../../../assets/img/Linkedin.svg" />
    </a>
    <a target="_blank" href="https://www.behance.net/ricardoricarte">
      <img id="behance-icon" src="../../../assets/img/Behance.svg" />
    </a>
  </div>
  <button>Me contrate</button>
</header>
